*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #272b31;
}

canvas {
	height: 100dvh;
	width: min(100dvw, 60dvh);
	background-color: #fff;
}